#div_game
{margin:0 auto;
	overflow:hidden;
}
#poker
{
position:absolute;
top:360px;
left:510px;
z-index:10; 	
}
#poker_img,#roul_img,#mang_img,#claw_img,#bljack_img,#slot_img,#slot1_img,#ants_img
{
opacity:0;

}
#roulette
{
position:absolute;
top:440px;
left:32px;
z-index:10;
}
#mankatha
{
position:absolute;
top:295px;
left:785px;
}
#claw
{
position:absolute;
top:140px;
left:955px;
}
#blackjack
{
position:absolute;
top:410px;
left:855px;
}

#slotm
{
position:absolute;
top:165px;
left:-79px;
}
#slotm1
{
position:absolute;
top:215px;
left:93px;
}

#ants
{
position:absolute;
top:325px;
left:275px;
z-index:10;
}
#games{
	background:url('images/bg.png');
	width:1233px;
	height:833px;
}
