#wrapper{
	position:relative;
	margin:0 auto;
	width:800px;
	height:600px;
	background:url('images/gamesbg.png') no-repeat;
}
#facebooklike{
	position:absolute;
	right:0px;
	bottom:0px;
}
#g1{
	position:absolute;
	display:block;
	height:54px;
	width:198px;
	
	left:45px;
	top:170px;
}
#g1:hover{
	background:url('images/HOVER.png')
}
#g2{
	position:absolute;
	display:block;
	height:54px;
	width:198px;
	
	left:45px;
	top:235px;
}
#g2:hover{
	background:url('images/HOVER.png')
}
#g3{
	position:absolute;
	display:block;
	height:54px;
	width:198px;
	
	left:45px;
	top:300px;
}
#g3:hover{
	background:url('images/HOVER.png')
}
#g4{
	position:absolute;
	display:block;
	height:54px;
	width:198px;
	
	left:45px;
	top:365px;
}
#g4:hover{
	background:url('images/HOVER.png')
}
#g5{
	position:absolute;
	display:block;
	height:54px;
	width:198px;
	
	left:45px;
	top:430px;
}
#g5:hover{
	background:url('images/HOVER.png')
}

#back{
	position:absolute;
	display:block;
	height:54px;
	width:98px;
	border:solid 1px #000;
	left:645px;
	top:40px;
}
#back:hover{
	background:url('images/homehover.png')
}
